<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Medical Record App</title>
    <!-- Link to static CSS file using url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="picture">Select Record:</label>
            <select id="picture" name="picture" required>
                <option value="colombia">Colombia</option>
                <option value="poland">Poland</option>
                <option value="thailand">Thailand</option>
                <option value="vietnam">Vietnam</option>
                <option value="lizzo">Lizzo</option>
            </select>

            <button type="submit">Examine "Medical Records"</button>
        </form>

        <p id="response"></p>
    </div>

    <!-- Link to API Metadata -->
    <footer>
        <p><a href="/metadata" target="_blank">API Metadata</a></p>
    </footer>

    <!-- Link to static JS file using url_for -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
